<div class="backgroundMain">
    <div class="homeDiv">
      <img src="https://pic.rutubelist.ru/video/ec/0c/ec0c12ae7b425bd4055f9f0e16f3498e.jpg" alt="Portfolio Image" />
    </div>
    <div class="homeDiv">
      <a class="HeaderButton" href="https://github.com/DmitriyGorbulko/Portfolio">Ссылка на GitHub</a>
    </div>
    <div class="homeDiv">
      <ul class="homeUl">
        Навыки
        <li class="homeLi">Принципы SOLID</li>
        <li class="homeLi">Архитектура Onion</li>
        <li class="homeLi">Работа с различными реляционными БД</li>
        <li class="homeLi">Архитектура Onion</li>
        <li class="homeLi">Стремление к изучению новых навыков</li>
      </ul>
    </div>
  </div>